@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var inventory in inventoriesList)
        {
            <tr>
                <td>@inventory.InventoryName</td>
                <td>@inventory.Quantity</td>
                <td>@inventory.Price.ToString("c")</td>
                <td>
                    <button
                        type="button"
                        class="btn btn-light"></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Inventory> inventoriesList = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        inventoriesList = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }
} 
