@inject IViewProductsByNameUseCase ViewProductsByNameUseCase;

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (productsList != null && productsList.Count > 0)
        {
            foreach (var product in productsList)
            {
                <ProductListItemComponent ProductItem="@product"/>
            }
        }
    </tbody>
</table>

@code {
    private List<Product> productsList = new List<Product>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        productsList = (await ViewProductsByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }
}
